[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
Type=notify
# the specific user that our service will run as
# --worker-class /home/ubuntu/agent/workspace/test-deploy/venv/lib/python3.10/site-packages/uvicorn/workers.py\
User=root
Group=www-data
WorkingDirectory=/home/ubuntu/agent/workspace/test-deploy
ExecStart=home/ubuntu/agent/workspace/test-deploy/venv/bin/gunicorn \
--error-logfile /home/ubuntu/agent/workspace/test-deploy/logs/error.log \
--workers 4 \
--capture-output --log-level debug \
--bind unix:/run/gunicorn.sock \
main:app

[Install]
WantedBy=multi-user.target